body {
    background: #000;
    color: #fff;

    #header {
        border: 1px dotted #fff;
        padding: 1em 2em;
        margin: 1em;
    }

    #body {
        border: 1px dotted #fff;
        padding: 1em 2em;
        margin: 1em;
    }

    #footer {
        border: 1px dotted #fff;
        padding: 1em 2em;
        margin: 1em;
    }
}