:root {
    --color-gold: rgb(255, 196, 0);
    --color-gray-dark: #707070;
    --color-gray-light: #ccc;
    --color-white: #d3d3d3;
    --color-black: #131313;
}

body {
    background: var(--color-black);
    color: var(--color-white);
    font-family: "Gill Sans", sans-serif;
}